body,html{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(172, 171, 171);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1) ;
}
.container{
    width: 86%;
    margin: 0 auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-nav ul li{
    float: left;
    margin-left: 35px;
    font-size: 18px;
}
.main-nav ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.main-nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #030303;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.main-nav ul li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.banner img{
     max-width: 100%;
}
.main-nav .btnLogin-popup{
    width: 100px;
    height: 4%;
    background: transparent;
    border: 2px solid #0a0a0a;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.main-nav .btnLogin-popup:hover{
    background: #000000;
    color: #eee9e9;
}